<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ingenieria y Sistemas</title>
</head>
<body>
<form action="/ingenieria", method = 'POST'>
    <p><h1>{{ nombre }},haz escogido Ingeniería y Sistemas</h1></p>
    <p><h2>Porfavor, responda las preguntas acontinuación: </h2></p>
    <p>1. ¿Se ha interesado por tecnologías inalámbricas?</p>
    <p><input type="radio", name="opcion1", value="si">si</p>
    <p><input type="radio", name="opcion1", value="no">no</p>
    <p>2. ¿Le ha llegado a gustar así sea un (1) lenguaje de programación o la programación en sí misma?</p>
    <p><input type="radio", name="opcion2", value="si">si</p>
    <p><input type="radio", name="opcion2", value="no">no</p>
    <p>3. ¿Le gusta armar y desarmar aparatos electrónicos?</p>
    <p><input type="radio", name="opcion3", value="si">si</p>
    <p><input type="radio", name="opcion3", value="no">no</p>
    <p>4. ¿Le gusta llevar el desarrollo y control de un proyecto y ser perfeccionista? </p>
    <p><input type="radio", name="opcion4", value="si">si</p>
    <p><input type="radio", name="opcion4", value="no">no</p>
    <p>5. ¿Le atraería administrar las operaciones de una empresa netamente de producción?</p>
    <p><input type="radio", name="opcion5", value="si">si</p>
    <p><input type="radio", name="opcion5", value="no">no</p>
    <p>6. ¿Administraría una empresa tecnológica, viéndose más enfocado en la parte administrativa?</p>
    <p><input type="radio", name="opcion6", value="si">si</p>
    <p><input type="radio", name="opcion6", value="no">no</p>
    <p>7. ¿Le gustaría Gerenciar proyectos de infraestructura de redes y de paso programar los sistemas de las mismas?</p>
    <p><input type="radio", name="opcion7", value="si">si</p>
    <p><input type="radio", name="opcion7", value="no">no</p>
    <p><input type="submit", name="enviar", value="Siguiente"></p>
</form>
</body>
</html>